<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
        point="org.eclipse.core.contenttype.contentTypes">

        <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="function"
            id="com.liferay.ide.poshi.functionfile"
            name="%liferay.poshi.function.file.name"
            priority="high">
                <describer
                    class="com.liferay.poshi.ide.core.describer.FunctionFileDescriber" />
        </content-type>
        <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="testcase"
            id="com.liferay.ide.poshi.testcasefile"
            name="%liferay.poshi.testcase.file.name"
            priority="high">
                <describer
                    class="com.liferay.poshi.ide.core.describer.TestcaseFileDescriber" />
        </content-type>
        <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="macro"
            id="com.liferay.ide.poshi.macrofile"
            name="%liferay.poshi.macro.file.name"
            priority="high">
                <describer
                    class="com.liferay.poshi.ide.core.describer.MacroFileDescriber" />
        </content-type>
            <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="path"
            id="com.liferay.ide.poshi.pathfile"
            name="%liferay.poshi.path.file.name"
            priority="high">
                <describer
                    class="com.liferay.poshi.ide.core.describer.PathFileDescriber" />
        </content-type>
    </extension>
    <extension
        point="org.eclipse.wst.xml.core.externalSchemaLocations">
        <provider
            class="com.liferay.poshi.ide.core.PoshiExternalSchemaLocationProvider" />
    </extension>
</plugin>
