<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.poshi.testcasefile" />
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.poshi.macrofile" />
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.poshi.functionfile" />
        <sourceViewerConfiguration
            class="org.eclipse.wst.xml.search.editor.XMLReferencesStructuredTextViewerConfiguration"
            target="com.liferay.ide.poshi.pathfile" />
    </extension>

    <extension
        point="org.eclipse.wst.xml.search.core.querySpecifications">
        <querySpecification
            id="testcase.querySpecification"
            class="com.liferay.poshi.ide.query.TestcaseQuerySpecification" />
        <querySpecification
            id="function.querySpecification"
            class="com.liferay.poshi.ide.query.FunctionQuerySpecification" />
        <querySpecification
            id="macro.querySpecification"
            class="com.liferay.poshi.ide.query.MacroQuerySpecification" />
        <querySpecification
            id="path.querySpecification"
            class="com.liferay.poshi.ide.query.PathQuerySpecification" />
    </extension>

    <extension
        point="org.eclipse.wst.xml.search.core.resourceQuerySpecifications">
        <querySpecification
            class="com.liferay.poshi.ide.query.resource.FunctionResourcesQuerySpecification"
            id="function.files.querySpecification" />
        <querySpecification
            class="com.liferay.poshi.ide.query.resource.MacroResourcesQuerySpecification"
            id="macro.files.querySpecification" />
        <querySpecification
            class="com.liferay.poshi.ide.query.resource.PathResourcesQuerySpecification"
            id="path.files.querySpecification" />
    </extension>

    <extension
        point="org.eclipse.wst.xml.search.core.querySpecifications">
        <querySpecification
            class="com.liferay.poshi.ide.ui.node.MacroNodeQuerySpecification"
            id="macro.node.querySpecification" />
        <querySpecification
            class="com.liferay.poshi.ide.ui.node.FunctionNodeQuerySpecification"
            id="function.node.querySpecification" />
        <querySpecification
            class="com.liferay.poshi.ide.ui.node.PathNodeQuerySpecification"
            id="path.node.querySpecification" />
    </extension>

    <extension
        point="org.eclipse.wst.xml.search.editor.contentAssists">
        <additionalProposalInfoProvider
            id="poshi.info"
            class="com.liferay.poshi.ide.ui.contentassist.PoshiContentAssistAdditionalProposalInfoProvider" >
        </additionalProposalInfoProvider>
        <additionalProposalInfoProvider
            id="poshi.node.info"
            class="com.liferay.poshi.ide.ui.contentassist.PoshiNodeAssistAdditionalProposalInfoProvider" >
        </additionalProposalInfoProvider>
    </extension>

    <extension
        point="org.eclipse.wst.xml.search.editor.xmlReferences">
        <references
            contentTypeIds="com.liferay.ide.poshi.testcasefile">
            <reference>
                <from
                    path="//execute"
                    targetNodes="@macro"
                    querySpecificationId="testcase.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="macro.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                />
                <to
                    path="//command"
                    targetNodes="@name"
                    querySpecificationId="macro.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                />
            </reference>

            <reference>
                <from
                    path="//execute"
                    targetNodes="@function"
                    querySpecificationId="testcase.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="function.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                />
                <to
                    path="//command"
                    targetNodes="@name"
                    querySpecificationId="function.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                />
            </reference>

            <reference>
                <from
                    path="//execute"
                    targetNodes="@selenium"
                    querySpecificationId="testcase.querySpecification" >
                </from>
                <toStatic
                    querySpecificationId="com.liferay.ide.poshi.search.ui.seleniumqueryspecification"
                />
            </reference>
            <reference>
                <from
                    path="//execute"
                    targetNodes="@locator1"
                    querySpecificationId="testcase.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="path.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                 />
                <to
                    path="/html/body/table/tbody/tr/td[1]"
                    targetNodes="."
                    querySpecificationId="path.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                 />
            </reference>
            <reference>
                <from
                    path="//execute"
                    targetNodes="@locator2"
                    querySpecificationId="testcase.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="path.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                 />
                <to
                    path="/html/body/table/tbody/tr/td[1]"
                    targetNodes="."
                    querySpecificationId="path.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                 />
            </reference>
        </references>

        <references
            contentTypeIds="com.liferay.ide.poshi.functionfile">
            <reference>
                <from
                    path="//execute"
                    targetNodes="@macro"
                    querySpecificationId="function.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="macro.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                />
                <to
                    path="//command"
                    targetNodes="@name"
                    querySpecificationId="macro.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                />
            </reference>

            <reference>
                <from
                    path="//execute"
                    targetNodes="@function"
                    querySpecificationId="function.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="function.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                />
                <to
                    path="//command"
                    targetNodes="@name"
                    querySpecificationId="function.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                />
            </reference>
            <reference>
                <from
                    path="//execute"
                    targetNodes="@selenium"
                    querySpecificationId="function.querySpecification" >
                </from>
                <toStatic
                    querySpecificationId="com.liferay.ide.poshi.search.ui.seleniumqueryspecification"
                />
            </reference>
            <reference>
                <from
                    path="//execute"
                    targetNodes="@locator1"
                    querySpecificationId="function.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="path.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                 />
                <to
                    path="/html/body/table/tbody/tr/td[1]"
                    targetNodes="."
                    querySpecificationId="path.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                 />
            </reference>
            <reference>
                <from
                    path="//execute"
                    targetNodes="@locator2"
                    querySpecificationId="function.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="path.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                 />
                <to
                    path="/html/body/table/tbody/tr/td[1]"
                    targetNodes="."
                    querySpecificationId="path.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                 />
            </reference>
        </references>

        <references
            contentTypeIds="com.liferay.ide.poshi.macrofile">
            <reference>
                <from
                    path="//execute"
                    targetNodes="@macro"
                    querySpecificationId="macro.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="macro.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                />
               <to
                    path="//command"
                    targetNodes="@name"
                    querySpecificationId="macro.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                />
            </reference>

            <reference>
                <from
                    path="//execute"
                    targetNodes="@function"
                    querySpecificationId="macro.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="function.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                />
                <to
                    path="//command"
                    targetNodes="@name"
                    querySpecificationId="function.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                />
            </reference>
            <reference>
                <from
                    path="//execute"
                    targetNodes="@selenium"
                    querySpecificationId="macro.querySpecification" >
                </from>
                <toStatic
                    querySpecificationId="com.liferay.ide.poshi.search.ui.seleniumqueryspecification"
                />
            </reference>
            <reference>
                <from
                    path="//execute"
                    targetNodes="@locator1"
                    querySpecificationId="marco.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="path.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                 />
                <to
                    path="/html/body/table/tbody/tr/td[1]"
                    targetNodes="."
                    querySpecificationId="path.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                 />
            </reference>
            <reference>
                <from
                    path="//execute"
                    targetNodes="@locator2"
                    querySpecificationId="marco.querySpecification" >
                </from>
                <toResource
                    querySpecificationId="path.files.querySpecification"
                    additionalProposalInfoProviderId="poshi.info"
                 />
                <to
                    path="/html/body/table/tbody/tr/td[1]"
                    targetNodes="."
                    querySpecificationId="path.node.querySpecification"
                    additionalProposalInfoProviderId="poshi.node.info"
                    searcherId="poshi.node.searcher"
                 />
            </reference>
        </references>
    </extension>

    <extension
        point="org.eclipse.wst.xml.search.core.staticValueQuerySpecifications">
        <querySpecification
            class="com.liferay.poshi.ide.query.staticvalue.SeleniumQuerySpecification"
            id="com.liferay.ide.poshi.search.ui.seleniumqueryspecification">
        </querySpecification>
    </extension>

    <extension
        point="org.eclipse.wst.xml.search.editor.searchers">
        <searcher
            class="com.liferay.poshi.ide.searcher.PoshiNodeSearcher"
            id="poshi.node.searcher">
        </searcher>
    </extension>

    <extension
        point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
            class="com.liferay.poshi.ide.ui.launch.TestcaseLaunchShortcut"
            icon="icons/liferay.png"
            id="com.liferay.poshi.ide.ui.launch.testcaseLaunchShortcut"
            label="Poshi Testcase (run.xml)"
            modes="run">
            <contextualLaunch>
                <enablement>
                    <with
                        variable="selection">
                        <count
                            value="1">
                        </count>
                        <iterate>
                            <or>
                                <test
                                    property="org.eclipse.debug.ui.matchesPattern"
                                    value="*.testcase">
                                </test>
                            </or>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
        <shortcut
            class="com.liferay.poshi.ide.ui.launch.TestcasePoshiRunnerLaunchShortcut"
            icon="icons/liferay.png"
            id="com.liferay.poshi.ide.ui.launch.testcasePoshiRunnerLaunchShortcut"
            label="Poshi Runner Testcase (build-test.xml)"
            modes="run">
            <contextualLaunch>
                <enablement>
                    <with
                        variable="selection">
                        <count
                            value="1">
                        </count>
                        <iterate>
                            <or>
                                <test
                                    property="org.eclipse.debug.ui.matchesPattern"
                                    value="*.testcase">
                                </test>
                            </or>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
        <shortcut
            class="com.liferay.poshi.ide.ui.launch.TestcaseTomcatLaunchShortcut"
            icon="icons/liferay.png"
            id="com.liferay.poshi.ide.ui.launch.testcaseTomcatLaunchShortcut"
            label="Poshi Testcase with Tomcat (run.xml tomcat)"
            modes="run">
            <contextualLaunch>
                <enablement>
                    <with
                        variable="selection">
                        <count
                            value="1">
                        </count>
                        <iterate>
                            <or>
                                <test
                                    property="org.eclipse.debug.ui.matchesPattern"
                                    value="*.testcase">
                                </test>
                            </or>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
        <shortcut
            class="com.liferay.poshi.ide.ui.launch.RunSeleniumTomcatLaunchShortcut"
            icon="icons/liferay.png"
            id="com.liferay.poshi.ide.ui.launch.runSeleniumTomcatLaunchShortcut"
            label="Run Selenium Tomcat"
            modes="run">
            <contextualLaunch>
                <enablement>
                    <with
                        variable="selection">
                        <count
                            value="1">
                        </count>
                        <iterate>
                            <or>
                                <test
                                    property="org.eclipse.debug.ui.matchesPattern"
                                    value="*.testcase">
                                </test>
                            </or>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
        <shortcut
            class="com.liferay.poshi.ide.ui.launch.RunSeleniumTestLaunchShortcut"
            icon="icons/liferay.png"
            id="com.liferay.poshi.ide.ui.launch.runSeleniumTestLaunchShortcut"
            label="Run Selenium Test"
            modes="run">
            <contextualLaunch>
                <enablement>
                    <with
                        variable="selection">
                        <count
                            value="1">
                        </count>
                        <iterate>
                            <or>
                                <test
                                    property="org.eclipse.debug.ui.matchesPattern"
                                    value="*.testcase">
                                </test>
                            </or>
                        </iterate>
                    </with>
                </enablement>
            </contextualLaunch>
        </shortcut>
    </extension>

    <extension
        point="org.eclipse.ui.popupMenus">
        <objectContribution
            objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="com.liferay.poshi.ui.popupmenu">
            <menu
                icon="icons/liferay.png"
                id="poshiPopupMenuCategory"
                label="Poshi">
                <separator name="slot1"/>

                <groupMarker
                    name="all">
                </groupMarker>
                <groupMarker
                    name="build-selenium">
                </groupMarker>
                <groupMarker
                    name="compile-tools">
                </groupMarker>
            </menu>
        </objectContribution>
        <objectContribution
            adaptable="true"
            id="com.liferay.poshi.ui.build.popup"
            objectClass="org.eclipse.core.resources.IResource">
            <action
                class="com.liferay.poshi.ide.ui.launch.AllAction"
                enablesFor="1"
                icon="icons/liferay.png"
                id="com.liferay.poshi.ui.build.popup.action.all"
                label="build-all"
                menubarPath="poshiPopupMenuCategory/all">
            </action>
            <action
                class="com.liferay.poshi.ide.ui.launch.BuildSeleniumAction"
                enablesFor="1"
                icon="icons/liferay.png"
                id="com.liferay.poshi.ui.build.popup.action.build-selenium"
                label="build-selenium"
                menubarPath="poshiPopupMenuCategory/build-selenium">
            </action>
            <action
                class="com.liferay.poshi.ide.ui.launch.CompileToolsAction"
                enablesFor="1"
                icon="icons/liferay.png"
                id="com.liferay.poshi.ui.build.popup.action.compile-tools"
                label="compile-tools"
                menubarPath="poshiPopupMenuCategory/compile-tools">
            </action>
            <action
                class="com.liferay.poshi.ide.ui.launch.FormatSourceAction"
                enablesFor="1"
                icon="icons/liferay.png"
                id="com.liferay.poshi.ui.build.popup.action.format-source"
                label="format-source"
                menubarPath="poshiPopupMenuCategory/format-source">
            </action>
        </objectContribution>
    </extension>
    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <contentOutlineConfiguration
            class="com.liferay.poshi.ide.ui.contentoutline.PoshiContentOutlineConfiguration"
            target="com.liferay.ide.poshi.testcasefile"
        />
    </extension>
</plugin>
